---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';

import { socialLinks } from '~/navigation';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <main>
    <section>
      <div class="w-full mx-auto">
        <div class="px-4 md:px-36 my-10">
          <div class="flex flex-wrap md:py-14">
            <div class="w-full lg:w-1/2">
              <ContactUs
                id="form"
                title="Contact Me"
                subtitle="Thank you for checking out my portfolio website!"
                inputs={[
                  {
                    type: 'email',
                    name: 'email',
                    label: 'Email',
                  },
                ]}
                textarea={{
                  label: 'Message',
                }}
                button="Submit"
                classes={{
                  container: 'px-0 md:px-0 py-0 md:py-0 lg:py-0',
                }}
              />
            </div>
            <div class="w-full lg:w-1/2 flex md:justify-center mt-5 md:mt-0">
              <ul class="space-y-6">
                {
                  socialLinks.map((link) => (
                    <li>
                      <a
                        class="text-muted dark:text-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                        aria-label={link.ariaLabel}
                        href={link.href}
                        target="_blank"
                      >
                        <Icon name={link.icon} class="w-12 h-12" />
                        <div class="px-3 flex items-center">
                          <h3 class="text-md font-semibold">{link.text}</h3>
                        </div>
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
