---
import Content from "~/components/widgets/Content.astro";
import Layout from '~/layouts/PageLayout.astro';

const title = "Samuel Almeida's Projects";

const metadata = {
  title: 'Projects',
};

const projects = [
  {
    title: 'Voluntariado',
    description: 'atuação como contributor in the project',
    link: 'https://github.com/juliavdev/voluntariado',
    usedTech: ['AngularJS', 'Ionic', 'NodeJS', 'MySQL', 'Docker', 'JWT Authentication']
  },
  {
    title: 'Stock Manager',
    description: 'WEB API',
    link: 'https://github.com/SamuelGaitkoski/web-api-stock-manager',
    usedTech: ['C#', '.NET Core 3.1']
  },
  {
    title: 'Products',
    description: 'Products',
    beLink: 'https://github.com/SamuelGaitkoski/api-products',
    feLink: 'https://github.com/SamuelGaitkoski/front-angular-products',
    usedTech: ['Angular 10', '.NET 6.0', 'EF Core', 'SQL Server', 'JWT Authentication']
  },
  {
    title: 'Fleet Control',
    description: 'WEB API',
    link: 'https://github.com/SamuelGaitkoski/web-api-fleet-control',
    usedTech: ['C#', '.NET Core 3.1', 'EF Core', 'SQL Server']
  },
  {
    title: 'CRM Dashboard',
    description: 'CRM Dashboard',
    link: 'https://github.com/SamuelGaitkoski/react-crm-dashboard',
    usedTech: ['React', 'TypeScript']
  },
  {
    title: 'Task List',
    description: 'A simple and interactive task management application that allows users to add, edit, and delete tasks. It helps keep track of daily to-dos in a clean and user-friendly interface. Each task can be marked as completed, making it easy to manage priorities and stay organized.',
    link: 'https://github.com/SamuelGaitkoski/react-task-list',
    usedTech: ['React', 'TypeScript', 'Styled Components']
  },
  {
    title: 'UI inspired on Rick and Morty API',
    description: 'UI inspired on Rick and Morty API',
    link: 'https://github.com/SamuelGaitkoski/react-rick-and-morty-api',
    usedTech: ['React', 'TypeScript', 'SCSS']
  },
  {
    title: 'Twitter UI',
    description: 'Twitter UI',
    link: 'https://github.com/SamuelGaitkoski/react-twitter-ui',
    usedTech: ['React', 'TypeScript']
  },
  {
    title: 'UI inspired on OLX',
    description: 'UI inspired on OLX',
    link: 'https://github.com/SamuelGaitkoski/react-inspired-olx',
    usedTech: ['React', 'JavaScript', 'Styled Components']
  },
  {
    title: 'Album with JSON Placeholder API',
    description: 'React Album with JSON Placeholder API',
    link: 'https://github.com/SamuelGaitkoski/react-album-jsonplaceholder-api',
    usedTech: ['React', 'TypeScript', 'Styled Components']
  },
  {
    title: 'DevMemory',
    description: 'DevMemory is a memory matching game where players must find pairs of identical images. The game tracks the time taken to complete the game and counts the number of moves made, adding an extra layer of challenge and competition.',
    link: 'https://github.com/SamuelGaitkoski/react-memory-game',
    usedTech: ['React', 'TypeScript', 'Styled Components']
  },
  {
    title: 'IMC Calculator',
    description: 'Calculate your BMI (Body Mass Index), a standard adopted by the World Health Organization to estimate the ideal weight for each person. The calculator determines your BMI based on the height and weight you enter and gives a visual indication of your result.',
    link: 'https://github.com/SamuelGaitkoski/react-imc-calculator',
    usedTech: ['React', 'TypeScript', 'CSS Modules']
  }
];
---

<Layout metadata={metadata}>
  <main>
    <div class="w-full mx-auto">
      <div class="md:px-36">
        <section class="mx-auto mb-6">
          <header>
            <h1 class='text-center text-xl md:text-5xl font-bold mt-16'>
              {title}
            </h1>
          </header>
        </section>

        {projects.map(({ title, description, link, beLink, feLink, usedTech }) => {
          const techContent = (
            <div class="text-xs text-slate-500 dark:text-slate-400">
              {usedTech.join(" · ")}
            </div>
          );

          const linksArray = [
            beLink && <a href={beLink} target="_blank" class="no-underline text-inherit">Back-end Github</a>,
            feLink && <a href={feLink} target="_blank" class="no-underline text-inherit">Front-end Github</a>,
            link && !beLink && !feLink && <a href={link} target="_blank" class="no-underline text-inherit">Github</a>,
            !link && !beLink && !feLink && <span>No links available</span>
          ].filter(Boolean);

          const linksContent = (
            <div class="text-xs text-slate-500 dark:text-slate-400">
              {linksArray.map((item, index) => (
                <span>
                  {item}
                  {index < linksArray.length - 1 && " · "}
                </span>
              ))}
            </div>
          );

          return (
            <Content
              items={[
                {
                  icon: 'mdi:package-variant-closed',
                  title: 'Description',
                  description: description,
                },
                {
                  icon: 'mdi:code-tags',
                  title: 'Technologies',
                  description: techContent
                },
                {
                  icon: 'mdi:external-link',
                  title: 'Links',
                  description: linksContent
                }
              ]}
              classes={{
                container: 'p-6 md:p-6 lg:p-6 my-6 bg-blue-50 dark:bg-slate-800 rounded-md',
                gridContainer: 'gap-y-2 md:gap-y-2',
                panel: 'dark:bg-inherit dark:shadow-none items-start',
                description: 'ml-0 text-xs mt-1',
                icon: 'h-6 w-6'
              }}
            >
              <Fragment slot="content">
                <h3 class="text-md font-bold tracking-tight dark:text-white sm:text-xl">
                  {title}
                </h3>
              </Fragment>
            </Content>
          );        
        })}
      </div>
    </div>
  </main>
</Layout>

