---
import Content from "~/components/widgets/Content.astro";
import Layout from '~/layouts/PageLayout.astro';

import ImcCalculator from "../assets/images/projects/ImcCalculator.png";
import DevMemory from "../assets/images/projects/DevMemory.png";

import myImage from '~/assets/images/me.jpg';

const title = "Samuel Almeida's Projects";

const metadata = {
  title: 'Projects',
};

const projects = [
  {
    title: 'Voluntariado',
    description: 'atuação como contributor in the project',
    link: 'https://github.com/juliavdev/voluntariado',
    usedTech: ['AngularJS', 'Ionic', 'NodeJS', 'MySQL', 'Docker', 'JWT Authentication'],
    image: myImage
  },
  {
    title: 'Stock Manager',
    description: 'WEB API',
    link: 'https://github.com/SamuelGaitkoski/web-api-stock-manager',
    usedTech: ['C#', '.NET Core 3.1'],
    image: myImage
  },
  {
    title: 'Products',
    description: 'Products',
    beLink: 'https://github.com/SamuelGaitkoski/api-products',
    feLink: 'https://github.com/SamuelGaitkoski/front-angular-products',
    usedTech: ['Angular 10', '.NET 6.0', 'EF Core', 'SQL Server', 'JWT Authentication'],
    image: myImage
  },
  {
    title: 'Fleet Control',
    description: 'WEB API',
    link: 'https://github.com/SamuelGaitkoski/web-api-fleet-control',
    usedTech: ['C#', '.NET Core 3.1', 'EF Core', 'SQL Server'],
    image: myImage
  },
  {
    title: 'CRM Dashboard',
    description: 'CRM Dashboard',
    link: 'https://github.com/SamuelGaitkoski/react-crm-dashboard',
    usedTech: ['React', 'TypeScript'],
    image: myImage
  },
  {
    title: 'Task List',
    description: 'Task List',
    link: 'https://github.com/SamuelGaitkoski/react-task-list',
    usedTech: ['React', 'TypeScript', 'Styled Components'],
    image: myImage
  },
  {
    title: 'UI inspired on Rick and Morty API',
    description: 'UI inspired on Rick and Morty API',
    link: 'https://github.com/SamuelGaitkoski/react-rick-and-morty-api',
    usedTech: ['React', 'TypeScript', 'SCSS'],
    image: myImage
  },
  {
    title: 'Twitter UI',
    description: 'Twitter UI',
    link: 'https://github.com/SamuelGaitkoski/react-twitter-ui',
    usedTech: ['React', 'TypeScript'],
    image: myImage
  },
  {
    title: 'UI inspired on OLX',
    description: 'UI inspired on OLX',
    link: 'https://github.com/SamuelGaitkoski/react-inspired-olx',
    usedTech: ['React', 'JavaScript', 'Styled Components'],
    image: myImage
  },
  {
    title: 'Album with JSON Placeholder API',
    description: 'React Album with JSON Placeholder API',
    link: 'https://github.com/SamuelGaitkoski/react-album-jsonplaceholder-api',
    usedTech: ['React', 'TypeScript', 'Styled Components'],
    image: myImage
  },
  {
    title: 'DevMemory',
    description: 'DevMemory is a memory matching game where players must find pairs of identical images. The game tracks the time taken to complete the game and counts the number of moves made, adding an extra layer of challenge and competition.',
    link: 'https://github.com/SamuelGaitkoski/react-memory-game',
    usedTech: ['React', 'TypeScript', 'Styled Components'],
    image: DevMemory
  },
  {
    title: 'IMC Calculator',
    description: 'Calculate your BMI (Body Mass Index), a standard adopted by the World Health Organization to estimate the ideal weight for each person. The calculator determines your BMI based on the height and weight you enter and gives a visual indication of your result.',
    link: 'https://github.com/SamuelGaitkoski/react-imc-calculator',
    usedTech: ['React', 'TypeScript', 'CSS Modules'],
    image: ImcCalculator
  }
];
---

<Layout metadata={metadata}>
  <main>
    <div class="w-full mx-auto">
      <div class="md:px-36 md:py-16">
        <section class="mx-auto mb-6">
          <header>
            <h1 class={`text-center text-xl md:text-5xl font-bold`}>
              {title}
            </h1>
          </header>
        </section>

        {projects.map(({ title, description, link, beLink, feLink, usedTech, image }) => {
          const techContent = (
            <div class="flex flex-col gap-1 text-xs text-slate-500 dark:text-slate-400">
              {usedTech.map((tech) => (
                <span>{tech}</span>
              ))}
            </div>
          );

          const linksContent = (
            <div class="flex flex-col gap-1 text-xs text-slate-500 dark:text-slate-400">
              {beLink && (
                <span>
                  <a href={beLink} target="_blank" class="no-underline text-inherit">
                    Back-end Github
                  </a>
                </span>
              )}
              {feLink && (
                <span>
                  <a href={feLink} target="_blank" class="no-underline text-inherit">
                    Front-end Github
                  </a>
                </span>
              )}
              {!beLink && !feLink && !link && <span>No links available</span>}
              {link && !beLink && !feLink && (
                <span>
                  <a href={link} target="_blank" class="no-underline text-inherit">
                    Github
                  </a>
                </span>
              )}
            </div>
          );

          return (
            <Content
              items={[
                {
                  icon: 'mdi:package-variant-closed',
                  title: 'Description',
                  description: description,
                },
                {
                  icon: 'mdi:code-tags',
                  title: 'Technologies',
                  description: techContent
                },
                {
                  icon: 'mdi:external-link',
                  title: 'Links',
                  description: linksContent
                }
              ]}
              image={{
                src: image,
                alt: `${title} image`
              }}
              classes={{
                container: 'px-0 md:px-0 py-3 md:py-3 lg:py-3 gap-y-2 md:gap-y-2',
                gridContainer: 'gap-y-2 md:gap-y-2',
                panel: 'dark:bg-inherit dark:shadow-none items-start',
                description: 'ml-0 text-xs mt-2',
                icon: 'h-6 w-6'
              }}
            >
              <Fragment slot="content">
                <h3 class="text-md font-bold tracking-tight dark:text-white sm:text-xl">
                  {title}
                </h3>
              </Fragment>
            </Content>
          );        
        })}
      </div>
    </div>
  </main>
</Layout>

